html, body {
    font-family: 'Open Sans', sans-serif;
}

header, main {
    padding: 15px;
}

header {
    border-bottom: 1px solid #343434;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav span.title {
    font-size:1.5em;
}

#artborder .bar {
    height:20px;
}
.b4 {
    background:  rgba(52,126,71,1);
}
#profile {
    display:flex;
    justify-content: center;
}

#profile img {
    width: 200px;
}

@media only screen and (min-width: 768px) {
    header, main {
        width: 900px;
        margin: 0 auto;
    }
}

.post-summary {
    display: block;
    color: #000000;
    text-decoration: none;
    margin:0 0 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #cdcdcd;
}

.post-summary h3, .post-summary h4 {
    margin:2px 0;
    padding:0;
}

.post-summary h4 {
    color: #777;
}

th {
    text-align: left;
    padding:2px 7px;
}

tr:hover {
    background-color: #f5f5f5;
}

td {
    padding: 2px 7px;
}

/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
*/