html,
body {
    font-family: 'Open Sans', sans-serif;
}

header,
main {
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav span.title {
    font-size: 1.5em;
}

body {
    width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    body {
        width: 100%;
    }
}

.post-summary {
    display: block;
    text-decoration: none;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
}

.post-summary h3,
.post-summary h4 {
    margin: 2px 0;
    padding: 0;
}

th {
    text-align: left;
    padding: 2px 7px;
}

td {
    padding: 2px 7px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222831;
        color: #eee;
    }

    header {
        border-bottom: 1px solid #31363F;
    }

    a {
        color: #76ABAE;
    }

    tr:hover {
        background-color: #76ABAE;
    }

    .post-summary {
        border-bottom: 1px solid #31363F;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #eee;
        color: #222831;
    }

    header {
        border-bottom: 1px solid #76ABAE;
    }

    a {
        color: #31363F;
    }

    tr:hover {
        background-color: #31363F;
        color: #eee;
    }
    .post-summary {
        border-bottom: 1px solid #76ABAE;
    }
}