html,
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-bottom:15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav span.title {
    font-size: 1.5em;
    padding-bottom: 15px;
}


.postSummary {
    display: block;
    text-decoration: none;
    margin: 0 0 20px 0;
    padding-bottom: 20px;
}

.postSummary h2,
.postSummary h3 {
    margin: 2px 0;
    padding: 0;
}

th {
    text-align: left;
    padding: 2px 7px;
}

td {
    padding: 2px 7px;
}

.postHeading h1, .postHeading h2 {
    margin: 0;
    padding: 0;
}

.postHeading h2 {
    font-size:1em;
    opacity: 0.7;
}

/* Styles for phone screens */
@media (max-width: 800px) {
    body {
        padding:10px;
        font-size:1.2em;
    }

    article {
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
}

/* Styles for desktop screens */
@media (min-width: 801px) {
    body {
        width: 800px;
        margin: 0 auto;
        padding: 15px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222831;
        color: #eee;
    }

    header {
        border-bottom: 1px solid #31363F;
    }

    a {
        color: #76ABAE;
    }

    tr:hover {
        background-color: #76ABAE;
    }

    .postSummary {
        border-bottom: 1px solid #31363F;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #eee;
        color: #222831;
    }

    header {
        border-bottom: 1px solid #76ABAE;
    }

    a {
        color: #31363F;
    }

    tr:hover {
        background-color: #31363F;
        color: #eee;
    }
    .postSummary {
        border-bottom: 1px solid #76ABAE;
    }
}