---
layout: default
---

<main class="container">
	<div class="row title">
		<div class="col-sm-3">
				<img src="assets/me1.jpg" />
		</div>
		<div class="col-sm-9">
			<h1>{{ site.title }} <small class="text-muted">{{ site.description }}</small></h1>
		</div>
	</div>

	<div class="row">
		{% for post in site.posts %}
		<div class="post-summary">
			<h4>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<small class="text-muted"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></small>
			</h4>
			{% if post.description %}
			<p>{{post.description}}</p>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<hr />
</main>