html, body {
    background-color: #fafafa;
}

a {
    // color: #fbbb1f;
    color: #ffb500;
}

.icon {
    width:32px;
    height:32px;
}

.icon svg {
    width: 32px;
    height: 32px;
}

header nav {
    margin: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
}

header nav .nav-item {
    display: inline-block;
    margin-right:20px;
}

.title img {
    // border-radius: 100px;
    display:block;
    // margin: 0 auto;
    width: 200px;
    height: 200px;
}

@media (max-width: 575px) { 
    .title img {
        margin: 0 auto;
        border-radius: 100px;
    }
 }

.title h1 {
    margin-top:50px;
}

.post-summary {
    margin:20px 0;
}

h4 small {
    display:block;
}

th, td {
    border:1px solid #000;
    padding:2px;
}