<!doctype html>

<html lang="en">

<head>
    <title>Taylor Hutchison's Programming Blog</title>
    <meta name="description" content="Taylor Hutchison's Programming Blog" />
    <meta property="og:url" content="http://taylorhutchison.com/" />
    <meta property="og:title" content="Template" />
    <meta property="og:description" content="Description - Taylor Hutchison's Programming Blog" />
    <meta property="og:image:src" content="http://taylorhutchison.com/images/profile.jpg" />
    <meta property="og:image:alt" content="Profile picture of Taylor Hutchison" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link href="../css/normalize.css" rel="stylesheet" media="all" />
    <link href="../css/main.css" rel="stylesheet" media="all" />
    <link href="../css/highlight/atom-one-light.min.css" rel="stylesheet" media="(prefers-color-scheme: light)" />
    <link href="../css/highlight/atom-one-dark.min.css" rel="stylesheet" media="(prefers-color-scheme: dark)" />
</head>

<body>
    <header>
        <nav>
            <span class="title">Taylor Hutchison's Programming Blog</span>
            <a href="../index.html">Return to homepage</a>
        </nav>
    </header>
    <main>
        <article>
            <!-- CONTENT_PLACEHOLDER -->
        </article>
    </main>

    <script src="../js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>