---
layout: default
---

<main class="container">
    <article itemscope itemtype="http://schema.org/BlogPosting">

        <header>
            <h2 itemprop="name headline">{{ page.title }}</h2>
            <p>
                {% if page.author %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Authored by
                        {{ page.author }}, </span></span>
                {% endif %}
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b
                    %-d, %Y" }}</time>
                {% if page.updated %}
                <time datetime="{{ page.updated | date_to_xmlschema }}" itemprop="dateUpdated">(updated {{ page.updated
                    | date: "%b %-d, %Y" }})</time>
                {% endif %}
            </p>

        </header>

        <div itemprop="articleBody">
            {{ content }}
        </div>

    </article>
</main>